#header{
	display: inline-block;
       }

#header a {
	text-decoration: none;
    padding-left: 130px;
          }
.heading{
	margin: 400px;
    padding: 10px 5px 5px 5px;
    display: inline;
    color:#363636;
    font-family: 'Cabin';}

nav a {
	text-decoration: none;
    color: black;
    margin-left:150px;
    font-family: 'Cabin';}

.input-group
{
	margin: 5px;
	width: 260px;
    display: inline-block;
}

#main_cont{ /*display: flex;*/
			width: 100%;
			height:100%;
			background-image: url(IKEA/images/cover.jpg);
			background-size: cover;
			background-repeat: no-repeat;
		    background-position: center;
		    border-radius: 5px;
		 }

		#Welcome { color:white;
		           font-family: "Dancing Script";
		           font-weight: bold;
		           font-size: 80px;
		           text-align: center;
		           margin: auto;
		           padding-top:250px;
                  /* display: absolute; */
		          }


	 .bestselling , .sale{font-family: "Dancing Script";
	              font-weight: bold;
	              text-shadow: 1px 1px  grey;
	              font-size: 32px;
	              padding-left: 30px;
	              display: inline;}


	.card-title , .card-text {text-align: center;}



      .card-group{display: flex;
                  padding-top:30px;
                  padding-bottom:30px;
                  }

	  .card{/*width: 25%;*/
	        box-shadow: 0px 0px 2px 1px lightgrey;
	        margin: 10px;
	        padding: 10px;

	       }

      .card-img-top{width: 300px;
                    height:300px;
                    margin: auto;
                   }

	.footer{
		padding-top: 120px;
		    margin: auto;
		    display: flex;
		   }
	.ul-footer{
		       list-style: none;
	           text-align: left;
	           }

	#in-footer{
		       text-align: left;
	           padding-left: 17px;
	          }
	.ul-footer a{
		text-decoration: none;
	            }
     #lastline{margin: auto;
               text-align: center;}
